@import url("reset.css");
body {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  line-height: 1.5;
  background-color: #0c151d;
  color: #a3abb2;
  text-align: center;
  font-size: 22px;
}
.container {
  width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}
header {
  padding: 15px 0 50px;
}
.settings a {
  display: inline-block;
}
.settings img {
  height: 80px;
  width: 80px;
}
.logo a {
  padding-top: 12px;
  display: inline-block;
}
.logo a + a {
  margin: 0 13px 0 13px;
}
.my-photo {
  display: inline-block;
  vertical-align: middle;
}
.my-photo img {
  border: 6px solid #ffe071;
  border-radius: 105px;
  width: 205px;
  height: 205px;
}

.contacts {
  vertical-align: middle;
  text-align: left;
  width: 372px;
  height: 156px;
  display: inline-block;
  margin-left: 40px;
}

.contacts h1 {
  font-size: 46px;
  color: #f1f2f4;
}
.experience {
  margin: 50px auto 48px;
  width: 620px;
  height: 142px;
}
.experience p {
  display: inline-block;
  width: 30%;
}
.experience span {
  display: block;
}
.content {
  margin: 0 -15px;
}
.portfolio h2 {
  margin-bottom: 40px;
}
.content-card {
  height: 226px;
  float: left;
  padding: 0 15px;
  margin-bottom: 30px;
}
.content img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  object-fit: cover;
}
.button {
  margin-bottom: 100px;
  font-size: 0;
}
.button button {
  border: none;
  min-width: 290px;
  padding: 25px 10px;
  border-radius: 16px;
  background-color: #ffe482;
  color: #3d3d3d;
  font-size: 22px;
  cursor: pointer;
}
.button > button:nth-child(2) {
  background-color: #171f26;
  color: #a3abb2;
  margin-left: 15px;
}

:is(.portfolio, .about-me) h2 {
  font-size: 37px;
  text-transform: uppercase;
}
.about-me {
  background-color: #ffe482;
  color: #3d3d3d;
  padding: 40px 0;
}
.about-me div {
  width: 1200px;
  margin: 0 auto;
}
.about-me h2 {
  margin-bottom: 30px;
}
footer {
  padding: 50px 0;
}
